
*.log
ProjectCR1/Saved/Logs/ProjectCR1.log
ProjectCR1/Saved/Config/Windows/EditorPerProjectUserSettings.ini
ProjectCR1/Saved/Config/CrashReportClient/UE4CC-Windows-282516DF4D0378C3B63436A80FE0CE6A/CrashReportClient.ini
ProjectCR1/Saved/AutoScreenshot.png
ProjectCR1/Intermediate/CachedAssetRegistry.bin
ProjectCR1/Saved/Logs/ProjectCR1.log
ProjectCR1/Saved/Config/Windows/EditorPerProjectUserSettings.ini
ProjectCR1/Saved/AutoScreenshot.png
ProjectCR1/Intermediate/CachedAssetRegistry.bin
*.bin
*.png
*.ini
*.log
ProjectCR1/Intermediate/CachedAssetRegistry.bin
ProjectCR1/Saved/AutoScreenshot.png
ProjectCR1/Saved/Config/Windows/EditorPerProjectUserSettings.ini
ProjectCR1/Saved/Logs/ProjectCR1.log
ProjectCR1/Intermediate/CachedAssetRegistry.bin
ProjectCR1/Saved/Config/Windows/EditorPerProjectUserSettings.ini
ProjectCR1/Saved/Logs/ProjectCR1.log
*.log
*.bin
